{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=yourDatabase;Username=yourusername;Password=yourpassword",
    "Redis": "localhost:6379"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Information"
    }
  },
  "AllowedHosts": "*"
}
